@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}


body {
    margin: 0;
    box-sizing: border-box;
    background: no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Inconsolata', sans-serif;
    text-shadow: 2px 2px 2px #aaaaaa;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
    border: none;
    text-align: center;
    font-size: 3.7em;
    font-weight: lighter;
    animation: fadeIn ease 1s;
}

.crypto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    animation: fadeIn ease 3s;
}

.crypto-icon {
    margin-right: 7px;
}

.weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    animation: fadeIn ease 5s;
}

.weather > img {
    width: 80px;
}

.city {
    width: 100%;
    text-align: right;
    margin: 0;
    font-size: 1.3rem;
    margin-top: -15px;
}

.temperature {
    margin: 0;
    font-size: 1.6rem;
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
    border-radius: 30px;
    animation: fadeIn ease 6s;
}

.author {
    display: flex;
    flex-direction: row;
    margin-bottom: -350px;
    animation: fadeIn ease 4s;
}


